body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

#controls {
    margin-bottom: 15px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #444;
    color: white;
    cursor: pointer;
    padding: 10px;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #eee;
}


/* Column Selector */

#column-selector {
    background: white;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}
#column-selector h3 {
    margin-top: 0;
}

#checkbox-columns label {
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
}



/* Search Container */

#search-container {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

#search-container select,
#search-container input {
    margin-right: 10px;
}